body {
  margin: 0;

  font-family: 'PT Sans', sans-serif , 'Luxurious Roman' , -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
  background: linear-gradient(89deg, #b33199 0%, rgba(115, 31, 199, 0.582) 100%); 

}
/* 
#mui-1 {
  box-sizing: content-box;
  width: 100%;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  cursor: pointer;
}